@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(-45deg, #967E76, #6096B4, #EEE3CB, #B7C4CF);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-shadow: 0 0px 10px rgba(0,0,0,0.6);
}

.formula {
  margin: 15px 0;
  font-size: 14px;
  color: #666;
  text-align: left;
  line-height: 1.6;
}

input[type="number"] {
  width: 85%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 0 8px #2C3639;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 5px 0 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

#btn-reset {
  background-color: #dc3545;
}

#btn-reset:hover {
  background-color: #c82333;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  color: #444;
}

.result span {
  font-weight: bold;
}
